In [2]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("analysis_data.csv")
df

,Unnamed: 0,religion,income,freq
0,1,Protestant,<$10k,1068
1,2,Roman Catholic,<$10k,418
2,3,Mormon (Church of Jesus Christ of Latter-day ...,<$10k,29
3,4,"Orthodox (Greek, Russian, or some other ortho...",<$10k,13
4,5,Jewish (Judaism),<$10k,19
...,...,...,...,...
645,646,Indian Shaker Church (VOL),Don't know/refused,0
646,647,Unification Church (Moonies) (VOL),Don't know/refused,0
647,648,Jehovah’s Witness (VOL),Don't know/refused,36
648,649,International Bible Students (VOL),Don't know/refused,1
649,650,Lutheran Orthodox Church/The Catholic Church ...,Don't know/refused,1

In [12]:
print('Kolumna religion zawiera religię, którą zadeklarował badany  \n') 

print(df['religion'].describe())
print('\n')
print(df['religion'].value_counts())

print(' \n W pliku występuje 65 różnych religii, każda z nich została ma zbadanych 10 przedziałów dochodów.')

Kolumna religion zawiera religię, którą zadeklarował badany

count                                                   650
unique                                                   65
top        National Catholic; Polish National Catholic (...
freq                                                     10
Name: religion, dtype: object


 National Catholic; Polish National Catholic (VOL)     10
 Nihilist (VOL)                                        10
 Metaphysical (VOL)                                    10
 Deist (VOL)                                           10
 Asatru (Old Norse form of Paganism) (VOL)             10
                                                       ..
 Eckankar (VOL)                                        10
 Old Catholic (VOL)                                    10
 New Age (VOL)                                         10
 Mixed non-Christians (VOL)                            10
 Self realization (VOL)                                10
Name: religion, Length: 65, dtype: int64

 W pliku występuje 65 różnych religii, każda z nich została ma zbadanych 10 przedziałów dochodów.

In [25]:
print('Kolumna income zawiera przedziały dochodów, które zostały zawarte w badaniu \n') 

print(df['income'].describe())
print('\n')
print(df['income'].value_counts())

print(' \n W badaniu przewidziano 10 różnych przedziałów, z czego jeden oznacza "Nie wiem/nie chce odpowiadać". ')

Kolumna income zawiera przedziały dochodów, które zostały zawarte w badaniu

count         650
unique         10
top       $10-20k
freq           65
Name: income, dtype: object


$10-20k               65
$100-150k             65
$75-100k              65
>150k                 65
<$10k                 65
$40-50k               65
$30-40k               65
$20-30k               65
$50-75k               65
Don't know/refused    65
Name: income, dtype: int64

 W badaniu przewidziano 10 różnych przedziałów, z czego jeden oznacza "Nie wiem/nie chce odpowiadać".

In [50]:
print('Ostatnia kolumna - freq - opisuje jak często wyznawca danej religii deklarował dany przychód')

print(df['freq'].describe())
print('\n')


df.head()

Ostatnia kolumna - freq - opisuje jak często wyznawca danej religii deklarował dany przychód
count     650.000000
mean       54.701538
std       261.975181
min         0.000000
25%         0.000000
50%         1.000000
75%         5.000000
max      3041.000000
Name: freq, dtype: float64

   Unnamed: 0                                           religion income  freq
0           1                                        Protestant   <$10k  1068
1           2                                    Roman Catholic   <$10k   418
2           3   Mormon (Church of Jesus Christ of Latter-day ...  <$10k    29
3           4   Orthodox (Greek, Russian, or some other ortho...  <$10k    13
4           5                                  Jewish (Judaism)   <$10k    19